services:
  # 0. PERMISSION FIXER (Runs once, fixes folder, then exits)
  fix-permissions:
    image: alpine
    container_name: fix-permissions
    command: sh -c "mkdir -p /shared && chmod -R 777 /shared"
    volumes:
      - shared-data:/shared

  # 0b. SFTP PERMISSION FIXER
  sftp-init:
    image: alpine
    container_name: sftp-init
    command: sh -c "mkdir -p /sftp/upload && chown -R 1001:1001 /sftp/upload && chmod 755 /sftp/upload"
    volumes:
      - sftp-data:/sftp

  # 1. THE PARTNER BANK (Secure SFTP)
  partner-sftp:
    image: atmoz/sftp
    container_name: bank-sftp
    ports:
      - "2222:22"
    command: bank_user:pass:1001
    depends_on:
      sftp-init:
        condition: service_completed_successfully
    volumes:
      - sftp-data:/home/bank_user

  # 2. THE IDENTITY PROVIDER (Active Directory)
  active-directory:
    image: osixia/openldap:1.5.0
    container_name: corp-ad
    ports:
      - "1389:389"
    environment:
      - LDAP_ORGANISATION="Health Provider"
      - LDAP_DOMAIN=healthprovider.com
      - LDAP_ADMIN_PASSWORD=adminpassword
    command: --copy-service
    volumes:
      - ./config/ldap:/container/service/slapd/assets/config/bootstrap/ldif/custom

  # 3. C# GATEWAY (The Frontend API)
  gateway-csharp:
    image: csharpgateway:latest
    container_name: gateway-web
    ports:
      - "5064:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ActiveDirectory__Server=corp-ad
      - ActiveDirectory__Port=389
      - ActiveDirectory__DistinguishedName=cn=admin,dc=healthprovider,dc=com
      - ActiveDirectory__Password=adminpassword
      - ActiveDirectory__BaseDn=dc=healthprovider,dc=com
      - ActiveDirectory__Username=cn=admin,dc=healthprovider,dc=com
      - JavaBackend__Host=backend-proc
      - JavaBackend__Port=9999
    depends_on:
      active-directory:
        condition: service_started
      backend-java:
        condition: service_started
      fix-permissions:
        condition: service_completed_successfully
    volumes:
      - shared-data:/app/shared

  # 4. JAVA BACKEND (The Processor)
  backend-java:
    image: javabackend:latest
    container_name: backend-proc
    environment:
      - SFTP_HOST=bank-sftp
      - SFTP_PORT=22
    depends_on:
      partner-sftp:
        condition: service_started
      fix-permissions:
        condition: service_completed_successfully
    volumes:
      - shared-data:/app/shared

volumes:
  shared-data:
  sftp-data: